<!DOCTYPE html>
<html lang="Pt-Br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
   <script src="../js/logs.js" defer></script>
   <title>Logs</title>
</head>
<body>

<header>

   <h1>Logs!</h1>

</header>

<section class="tabela">
   <table border="1 px solid">
         <thead>
            <tr>
               <th>Alteration</th>
               <th>Camp</th>
               <th>Old Value</th>
               <th>New Value</th>
               <th>Date</th>
            </tr>
         </thead>
         <tbody class="elements"></tbody>
   </table>

</body>
</html>