
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

body{
    background:var(--bg-grey-light);
     /* cores de texto */
  --text-white: #ffffff;
  --text-dark: #142136;
  --text-button:#fff;

  /* cores de fundo */
  --bg-grey-light: #f4f4f4;
  --bg-white: #ffffff;
  --bg-blue-dark: #142136;
  --bg-indigo: #282828;

}

.dark {
  --text-white: #e6e6e6;
  --text-dark: #ffffff;
  --bg-grey-light: #282828;
  --bg-white: #22395d;
  --bg-blue-dark: #282828;
  --bg-indigo: #fff;
  --text-button:#000;
}

.title{
    color: var(--text-dark);
    font-size: 28px;
    border-bottom: 1px solid var(--text-dark);
}

header{
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 1000;
    height: 100%;
    width: 30rem;
    background: var(--bg-grey-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}





header.toggle{
    left: 0;

}

header > .navbar{
    width: 100%;
}

header > .navbar > ul{
    list-style: none;
    padding: 1rem 3rem;
}

header > .navbar > ul > li > a{
    display: block;
    padding: 0.5rem;
    margin: 1.5rem 0;
    background: var(--bg-blue-dark);
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    border: 1px solid #000;
}

header > .navbar > ul > li > a:hover{
    background-color: #fff;
    border: none;
    color: #000;
    box-shadow: 0 0 50px #f4f4f4;
}


#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: var(--text-dark);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1.5rem 1.5rem;
    z-index: 1000;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content:space-aroun;
    margin-bottom: 40px;
}
.button {
    width: 200px;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--bg-indigo);
    color: var(--text-button);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.button:hover{
    background-color: var(--bg-grey-light);
    color: #000;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh; 
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 350px;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0.3rem 0.2rem 0.5rem rgb(182, 170, 170);
}

input:focus::-webkit-input-placeholder{
    color: transparent;
    transition: all .5s ease-in-out;
}

.container label {
    font-weight: bold;
}

.container input,
.container select,
.container button {
    width: 90%;
    height: 35px;
    margin-top: 15px;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 7px;
    outline: none;
}

button {
    margin-top: 25px;
    padding: 10px;
    width: 50%;
    background: purple;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    
}

button:hover {
    background: rgb(183, 4, 183);
    box-shadow: 0 0 30px #000;
}

.tabela{
    margin: 0 auto;
    width: 90%;
    height: 300px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(182, 170, 170);
    overflow: auto  ;
    
}

table {
    width: 90%;
    margin: auto;
    
    border-collapse: collapse;
    margin-top: 15px;
    box-shadow: 0.2rem 0.2rem 0.4rem #000;
}
  

th {
    background-color: #333;
    color: white;
    padding: 1rem;
    
}
  
 
td {
    border: 1px solid #333;
    padding: 1rem;
    text-align: center;
    
}
  


@media screen and (max-width: 600px) {
   
    th, td {
      padding: 0.5rem;
    }
}

.perfil {
    width: 100px;
    height: 100px;
    background:#333;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: -50px; 
    bottom: 6rem;
    z-index: 1;
   
}
  
.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
  
.informacoes {
    display: none;
    width: 250px;
    padding: 30px;
    background-color: #181818;
    border-radius: 10px 50px 50px 10px;
    position: fixed;
    bottom: 1.5rem;
    right: 0;
    color: #fff;
    box-shadow: 0 0 50px #000;
}

.informacoes > p{
    padding-top: 15px;
    padding-left: 0;
}

.informacoes > h2{
    font-size: 22px;
}


.informacoes::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #333333; 
    border-radius: 50%;
    right: -50px; 
    bottom: 4.5rem;
}
  
#update{
    position: absolute;
    height:390px;
    top: 66%;
    left: 82%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#update > h1{
    border-bottom: 1px solid #000;
    
}




#update > input{
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
}




#update > select{
    width: 100%;
    height: 40px;
    border: none;
    background: #d2d2d2;
    border-radius: 10px;
    text-align: center;
}

#update > button{
    box-shadow: none;
    position: absolute;
    padding: 12px;
    bottom: 6%;
    right: 39%;
}

#update > button:hover{
    box-shadow: 0 0 50px #000;
}


@media (max-width:1200px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    header{
        width: 60%;
    }
   .navbar{
    margin: 0 auto;
   }

   .face.facel{
    width: 500px;
   }

   header{
    left: -120%;
   }

   #menu{
    display: block;
   }

   header.toggle{
    left: 0;
   }

}



@media(max-width:991px){
    header{
     left: -120%;
    }
 
    #menu{
     display: block;
    }
 
    header.toggle{
     left: 0;
    }
 
    
 }
 
 @media(max-width:746px){

    header{
        width: 75%;
    }

    .navbar{
        margin: 0 auto;
    }

  }
 
 @media(max-width:600px){
     header{
      width: 100vw;
     }
 
 
     
  }
